.m-experience
  +clearfix
  +small-box-shadow
  width:            calc(100% - 40px)
  position:         relative
  margin:           10px 0
  background-color: white
  padding:          0 20px 5px 20px
  font-size:        14pt

  &.clickable
    cursor:         pointer

  &:before
    content: ""
    height: 5px
    margin: 0 -20px

  &.education:before
    background-color: rgba(34, 139, 34, 0.7)

  &.position:before
    background-color: rgba(55, 106, 155, 0.7)

  &.repo:before
    background-color: rgba(190, 38, 37, 0.7)

  &:last-of-type
    margin-bottom:    20px

  .display
    +clearfix

    > *
      margin: 10px 0

  .time
    float:          right
    font-size:      10pt
    line-height:    22px

  .business, .school, .name
    float:          left

    i
      margin-right: 5px

  ul.summary
    display:        none
    margin-right:   10px
    margin-left:    10px

  .position_name
    float:          left
    width:          100%
    font-size:      10pt

  .languages
    float:          left
    text-align:     right
    width:          100%
    font-size:      10pt

