.m-experience{ class: type }
  .display
    %p.name= position.name
    %p.time= position.pretty_date

  %ul.positions
    - if position.summary.present?
      - position.summary.split("\n").each do |point|
        %li= point

