%section.m-applicant-header
  = image_tag(@applicant.image, alt: "applicant profile picture", size: "100X100")

  .details
    %h1= "#{@applicant.name}"
    %h2= "Univeristy of British Columbia (2009 - 2014)"

%section.m-timeline
  .line
  =render partial: "position", collection: @positions
