.l-content-flow
  display:            table
  height:             98%
  min-height:         98%
  width:              70%
  padding:            0 15%

  .centering-object
    display:          table-cell
    vertical-align:   middle

  .container
    background:       rgba(0, 0, 0, 0.9)

  .heading
    padding:          20px 20px 10px
    text-align:       left
    font-size:        40pt

  .row
    text-align:       left
    padding:          20px 20px 5px 20px
    font-size:        18pt
    &:last-of-type
      padding-bottom: 30px
