/ %nav.navbar.navbar-default{ role: "navigation" }
/   .navbar-header
/     =link_to "Vetrify", root_path, { class: "navbar-brand" }
/   .collapse.navbar-collapse#bs-example-navbar-collapse-1
/     %ul.nav.navbar-nav.navbar-right
/       %li=link_to "Sign In", new_sessions_path, { class: "btn btn-default navbar-btn" }


