.m-landing
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  height: 100%
  width:  100%
  display: table

  .container
    display:          table-cell
    vertical-align:   middle

  h1
    font-size:  32pt
    line-height: 1.5

  h2
    font-size:        40pt

  p
    font-size:        18pt
    &:last-of-type
      padding-bottom: 30px
