.m-nav
  position: fixed
  width: 100%
  height: 80px
  z-index: 100
  background-color: rgba(0,0,0, 0.6)

  img
    float: left
    margin: 10px 10px
    height: 60px

  a
    float: right
    padding: 0 10px
    margin: 20px
    line-height: 40px
    text-decoration: none
    text-align: center
    font-size: 16pt
    color: white

    &:hover
      background-color: rgba(255,102,0, 0.8)
      font-weight: 400
