.m-timeline
  +clearfix
  color: black

  .line
    height:           100%
    width:            5px
    background-color: black
    float:            left


  .position
    width:            80%
    background-color: red
    float:            left

  .heading
    margin-right:    10px
    margin-left:     10px
    +clearfix

    .time
      float:          right
      width:          200px

    .name
      float:          left

  .description
    margin-right:   10px
    margin-left:    10px
