.m-timeline
  +clearfix
  color: black

  .line
    height:           100%
    width:            5px
    background-color: black
    float:            left


  .experience, .education
    cursor:         pointer
    width:            80%
    float:            left
    margin-top:       10px

    .heading
      margin-right:    10px
      margin-left:     10px
      +clearfix

      .time
        float:          right

      .name, .school
        float:          left

  .education
    background-color: green
    cursor:           default

  .position
    background-color: red


  ul.positions
    display:        none
    margin-right:   10px
    margin-left:    10px

