!!!
%html.wf-loading
  %head
    %title= content_for?(:title) ? yield(:title) + " - Vetrify" : "Vetrify - New Graduate Jobs"
    =stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    =javascript_include_tag "application", "data-turbolinks-track" => true
    = content_for?(:head) ? yeild(:head) : nil
    = csrf_meta_tags
    %meta{ name: "description", content: "Vetrify matches students with start ups and allows them to discover new jobs. Vetrify's job application process minimizes time spent and maximizes each application's impact." }
    %meta{ charset: "utf-8" }
    %meta{ name: 'author', content: 'Vetrify' }

  %body
    = yield
